@import "../user/public";

.tit {
  height: 60px;
}

.subBtn {
  text-align: center;

  button {
    margin: 16px auto;
    width: 120px;
  }
}

.is-set {
  padding: 16px 0;

  span {
    padding-right: 10px;
  }
}
