<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>一键WIFI</title>
    <script type="text/javascript" src="https://mem.rtmap.com/Public/js/jquery-2.1.1.js"></script>
    <script type="text/javascript" src="https://mem.rtmap.com/Public/js/wechat.js"></script>

    <script type="text/javascript">
        $(function () {
            function closeWindow() {
                WeixinJS.closeWindow();
            }

            setTimeout(closeWindow, 500);
        });
    </script>
</head>
<body>

</body>
</html>