<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <title>授权页面认</title>
    <link rel="stylesheet" href="__PUBLIC__/css/weui.css">
    <link rel="stylesheet" href="__PUBLIC__/css/auth2c0a38.css">
</head>
<body id="" class="zh_CN " ontouchstart="">

<div class="container custom" id="js_custom"></div>
<div class="container biz_list" id="js_biz_list"></div>
<div class="container confirm" id="js_confirm" style="display: none;"></div>
<div class="container msg" id="js_msg">
    <div class="weui_msg msg">
        <div class="weui_icon_area"><i class="weui_icon_warn weui_icon_msg"></i></div>
        <!--<div class="weui_text_area">-->
            <!--<h2 class="weui_msg_title">授权流程，注意！！！</h2>-->
            <!--<p class="weui_msg_desc">1、在电脑端打开本页面，或找另一台设备打开本页面；</p>-->
            <!--<p class="weui_msg_desc">2、点击下方的授权按钮跳转至微信链接，打开后会显示二维码；</p>-->
            <!--<p class="weui_msg_desc">3、用有公众号管理权限的微信号扫码授权：管理员或公众号运营者；</p>-->
            <!--<p class="weui_msg_desc">4、当手机端和电脑端都显示授权成功时，才授权成功，否则授权失败；</p>-->
            <!--<p class="weui_msg_desc">5、不可将本页面在手机端打开，极端情况下，可将页面中的二维码截图发给管理员或运营者，微信端长按识别；</p>-->
        <!--</div>-->
        <h2 class="weui_msg_title"><a href='{$url}' target="__blank">点我为本企业微信安装租客平台应用 </a></h2>
        <div class="button_wrp"></div>
    </div>
</div>
</body>
</html>