@import "modules/sideb";

// .interlist {
//   // max-width: 500px;
//   li {
//     height: 50px;
//     line-height: 50px;
//   }
// }
.row {
  margin-left: 0;
  margin-right: 0;
}

.col-sm-2 {
  width: 100px;
}
