<div id="main">
  <!-- <div class="pay">
    <div class="park_info">
      <div class="cover">
        <img src="" alt="车车"/>
      </div>
      <div class="no">京A00001</div>
      <div class="in">停车时间：2016-07-22 17:10:13</div>
      <div class="out">计费时长：2时18分30秒</div>
    </div>
    <div class="pay_btns">
      <ul>
        <li>
          <button class="btn btn_primary">积分支付</button>
        </li>
        <li>
          <button class="btn btn_primary">微信支付</button>
        </li>
      </ul>
    </div>
  </div> -->
</div>
<script>var conf={key:'{{key}}'};</script>
