['Desktop', 'Entry', 'Name', 'Firefox', 'Comment', '火狐浏览器', 'GenericName', '中国版', 'Exec', 'firefox', 'Icon', 'browser', 'icons', 'mozicon128', 'Terminal', 'false', 'Type', 'Application', 'Categories', 'Network']
