['crontabHr', 'crontabDay', 'crontabMin', 'crontabMnth', 'crontabDow', 'crontabCmd', 'crontabMnth12', 'crontabPercent', 'crontabDow7', 'crontabCmnt', 'crontabNick', 'crontabVar', 'nextgroup', 'xtgroup', 'yearly', 'Spell', 'start', 'daily', 'weekly', 'boot', 'keepend', 'reboot', 'match', 'midnight', 'monthly', 'annually', 'hourly', 'ontains', 'contains']
