{{>_sideb}}
<!-- 帐号详情 -->
<div class="create_content">
  <h3>详情</h3>
  <ul class="details">
    <li><span class="name">用户名：西单大悦城</span></li>
    <li><span class="password">密码：xxxx</span></li>
    <li><span class="pre">表前缀：111</span></li>
    <li><span class="key_admin">key_admin：西单大悦城</span></li>
    <li><span class="sign_key">sign_key：西单大悦城</span></li>
    <li><span class="qiy">是否启用：</span></li>
  </ul>
  <input type="hidden" value="202cb962ac59075b964b07152d234b70" name="ukey" />
</div>
<script>var conf={id:'{{id}}'};</script>
