<!-- 微信第三方授权 -->
<!-- <div class="container-fluid"> -->
    <!-- <div class="row"> -->
      <div class="main" style="width:99%;margin:20px auto;padding:0;">
        <h2 class="sub-header">栏目列表</h2>
        <div class="searchbox">
          <label for=""><strong>Name:</strong><input type="text" name="" value="" placeholder="Input Searching Name" class="name"></label>
          <label for=""><strong>Appid:</strong><input type="text" name="" value="" placeholder="Input Searching Appid" class="appid"></label>
          <button type="button" name="button">Search</button>
        </div>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>AppId</th>
                <th>权限信息</th>
                <th>公众号图片</th>
                <th>授权时间</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
        <div class="pages">
          <ul>
            <li class="totalli">总共<span class="totalpage"></span>页</li>
            <li class="prev">上一页</li>
            <li>当前第<span class="currentpage">1</span>页</li>
            <li class="next">下一页</li>
            <li class="skippage">跳转到第<input type="number" name="" value="1" min="1" class="gopage">页</li>
            <li class="sure">确定</li>
          </ul>
        </div>
      </div>
    <!-- </div> -->
  <!-- </div> -->
