<!-- 接口配置 -->
<div class="container-fluid">
    <div class="row">
      {{>member_sideb}}
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h2 class="sub-header">接口配置</h2>
        <div class="row mag">
          <div class="col-lg-6">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-secondary" type="button">搜索</button>
              </span>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-striped">
            <!-- <thead>
              <tr>
                <th>#</th>
                <th>西单大悦城</th>
                <th><a href="#">接口列表</a></th>
                <th><a href="#">会员配置</a></th>
                <th>详情</th>
                <th>详情2</th>
                <th>详情3</th>
              </tr>
            </thead> -->
            <tbody>
              <!-- <tr>
                <td>西单大悦城</td>
                <td><a href="/dashboard/interfaceconfig2">接口列表</a></td>
                <td><a href="#">会员配置</a></td>
              </tr> -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- <input type="hidden" value="202cb962ac59075b964b07152d234b70" name="ukey" /> -->
  </div>
