<div class="container">
  <form class="form-signin" action="/" method="get" id="form">
    <h2 class="form-signin-heading">账户配置系统登录</h2>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="text" name="name" id="inputEmail" class="form-control" placeholder="Email address">

    <!-- <input type="email" name="name" id="inputEmail" class="form-control" placeholder="Email address" required autofocus pattern="^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z0-9]+$" data-required="请输入用户名" data-mismatch="请输入邮箱"> -->
    <!--  -->
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="pwd" id="inputPassword" class="form-control" placeholder="Password" >
    <!-- <input type="password" name="pwd" id="inputPassword" class="form-control" placeholder="Password" required data-required="不能为空" data-err="密码错误"> -->
    <!-- <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> 记住我
      </label>
    </div> -->
    <button class="btn btn-lg btn-primary btn-block" type="submit" >登录</button>
    <input type="hidden" value="202cb962ac59075b964b07152d234b70" name="ukey" />
  </form>
</div>
