<!-- 页面访问数据 -->
<div class="container-fluid">
    <div class="row">
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h2 class="sub-header">统计数据</h2>
        <div class="row mag" style="text-align: right">
          <button type="button" class="btn btn-primary" id="switch">折线图</button>
        </div>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>页面名称</th>
                <th>页面唯一标识</th>
                <th>创建时间</th>
                <th>访问量</th>
              </tr>
            </thead>
            <tbody>

            </tbody>
          </table>
        </div>

        <div class="pie-wrapper">

        </div>
      </div>
    </div>
  </div>

  <script>var conf={id:'{{id}}', adminid:'{{adminid}}'};</script>
