<div class="container-fluid" id="container_fluid">
  {{>evaluateSideb}}
  <div class="main">
    <h2 class="clearfix"><span>员工列表</span><a type="button" class="btn btn-primary fr" href="/evaluate/edituser">添加员工</a></h2>
    <div class="search-box">
      <div class="search">
        <input type="text" class="form-control title" id="staff-search" style="width: 70%;display:inline-block;vertical-align:middle;" placeholder="请输入员工工号/姓名">
        <a type="button" class="btn btn-secondary" id="searchBtn" href="javascript:;">搜索</a>
      </div>
    </div>
    <table class="table table-striped table-hover table-bordered">
      <thead>
        <tr>
          <th>姓名</th>
          <th>员工工号</th>
          <th>手机号码</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
      </tbody>

    </table>
    <nav class="page_box" aria-label="Page navigation">
      <ul class="pager">
        <input type="hidden" class="pagenum" value="1">
        <li class="total"></li>
        <li><a href="javascript:;" class="prev">上一页</a></li>
        <li><a href="javascript:;" class="currentpage no-click"></a></li>
        <li><a href="javascript:;" class="next">下一页</a></li>
        <li><a href="javascript:;" class="no-click">10条/页</a></li>
        <li>跳至第<input type="number" class="gopage" step="1" min="1">页</li>
        <li><a href="javascript:;" class="gopage_btn">GO</a></li>
      </ul>
    </nav>
  </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">删除</h4>
      </div>
      <div class="modal-body">
        <div style=""></div>
        确定要删除吗？
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary delOk">确定</button>
      </div>
    </div>
  </div>
</div>
