<div class="sidebar">
  <ul class="nav nav-pills nav-stacked">
    <li class="nav-item">
      <a class="nav-link {{#isCampaign}}act{{/isCampaign}}"  href="/mall/campaign">活动配置</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{#isClass}}act{{/isClass}}"  href="/mall">分类管理</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{#isGift}}act{{/isGift}}"  href="/mall/gift">礼品管理</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{#isExchange}}act{{/isExchange}}"  href="/mall/exchange">商城配置</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{#isScorelog}}act{{/isScorelog}}"  href="/mall/scorelog">兑换记录</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{#isBanner}}act{{/isBanner}}"  href="/mall/banner">Banner管理</a>
    </li>
  </ul>
</div>
