<!-- 活动配置 -->
<div class="container-fluid">
    {{>mallSideb}}
  <!-- sidebar -->
  <div class="main">
    <div class="header">
      <div class="title">
        <h3>活动ID</h3>
      </div>
      <div class="wrapper">
      </div>
    </div>

    <div class="alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <ul>
        <li>1、允许营销平台活动id和第三方活动id同时存在和使用也可单独使用。</li>
        <li>2、可允许多个活动id同时存在， 添加多个用英文状态下的逗号【，】隔开。</li>
      </ul>
    </div>

    <table class="table table-striped table-hover table-bordered">
      <thead>
        <tr>
          <th>建筑物</th>
          <th>建筑物ID</th>
          <th>营销平台活动ID</th>
          <th>第三方活动ID</th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table
  </div>
</div>
