<!-- 会员条款 -->
<div class="container-fluid">
  {{>managementSideb}}
  <div class="main">
    <div class="main_content">
      <h3>服务条款</h3>
      <script type="text/plain" id="myEditor" style="width:1000px;">
          <p>这里我可以写一些输入提示</p>
      </script>
      <div class="subBtn">
        <button type="button" id="submit" class="btn btn-danger">提交</button>
      </div>
    </div>
  </div>
</div>
<script src="{{page.staticBase}}/static/umeditor/qiniu.js"></script>
<script src="{{page.staticBase}}/static/umeditor/plupload/plupload.full.min.js"></script>
