<div class="sidebar">
  <ul class="nav nav-pills nav-stacked">
    <!-- <li class="nav-item">
      <a class="nav-link {{#isUserList}}act{{/isUserList}}" href="/management/userlist">会员管理</a>
    </li> -->
    <li class="nav-item">
      <a class="nav-link {{#isHandbook}}act{{/isHandbook}}" href="/management/handbook">会员手册页</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{#isClause}}act{{/isClause}}" href="/management/clause">注册条款</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{#isService}}act{{/isService}}" href="/management/kefu">客服管理</a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link {{#isFollow}}act{{/isFollow}}" href="">会员首页</a>
    </li> -->
  </ul>
</div>
