<div class="sidebar">
  <ul class="nav nav-pills nav-stacked">
    <li class="nav-item">
      <a class="nav-link {{#isRights}}act{{/isRights}}" href="/member/rights">会员权益</a>
    </li>
    <li class="nav-item">
      <!-- <a class="nav-link {{#isContact}}act{{/isContact}}" href="/member/contact">联系我们</a> -->
    </li>
    <li class="nav-item">
      <a class="nav-link {{#isCard}}act{{/isCard}}" href="/member/card">会员卡样</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{#isFollow}}act{{/isFollow}}" href="/member/follow">微信关注二维码</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{#isIcons}}act{{/isIcons}}" href="/member/icons">添加菜单ICON</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{#isList}}act{{/isList}}" href="/member/iconslist">ICONS列表</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{#isModify}}act{{/isModify}}" href="/member/modifyidcard">会员属性配置</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{#isScore}}act{{/isScore}}" href="/member/scoreconfig">签到积分配置</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{#isformlist}}act{{/isformlist}}" href="/member/formlist">配置C端表单列表</a>
    </li>
  </ul>
</div>
