
<!-- 查看icon列表 -->
{{>microSideb}}
<div class="container-fluid" id="container_fluid">
    <h3>页面管理</h3>
  <div class="main">
    <div class="effect">
      <div class="topad">
        <!-- <img src="../../static/img/micromall/topad1.jpg" /> -->
        <img src="" />
      </div>
      <div class="domain">
        <img src="../../static/img/micromall/3.jpg" />
        <!-- <div class="facilityname1"><p>停车</p></div>
        <div class="facilityname2"><p>购物</p></div>
        <div class="facilityname3"><p>会员</p></div>
        <div class="facilityname4"><p>积分换礼</p></div>
        <div class="facilityname5"><p>停车</p></div>
        <div class="facilityname6"><p>排号点餐</p></div>
        <div class="facilityname7"><p>客服</p></div>
        <div class="facilityname8"><p>优惠</p></div> -->
      </div>
      <div class="bottomad">
        <!-- <img src="../../static/img/micromall/bottom1.jpg" /> -->
        <img src="" />
      </div>
    </div>
    <div class="setconfig">
      <table class="table table-striped table-hover table-bordered">
        <tbody>
          <!-- <tr>
            <td>
              顶部广告
            </td>
            <td>
            <a href="/micromall/topad" >编辑</a>
            </td>
            <td>
              <button type="button" class="btn btn-danger btn-sm">已启用</button>
            </td>
          </tr>
          <tr>
            <td colspan="3" style="height:80px;"> </td>
          </tr>
          <tr>
            <td>
              功能区
            </td>
            <td>
            <a href="/micromall/facility" >编辑</a>
            </td>
            <td>
              <button type="button" class="btn btn-danger btn-sm">已启用</button>
            </td>
          </tr>
          <tr>
            <td colspan="3" style="height:80px;"> </td>
          </tr>
          <tr>
            <td>
              底部广告
            </td>
            <td>
            <a href="/micromall/newbottom" >编辑</a>
            </td>
            <td>
              <button type="button" class="btn btn-link">已停用</button>
            </td>
          </tr> -->
        </tbody>
      </table>
    </div>
    <!-- <div class="subBtn">
      <button type="button" id="dw_submit" class="btn btn-success btn-lg">保存并发布</button>
    </div> -->
  </div>
</div>
<script>var conf={status:'{{status}}'}</script>
