
<!-- 查看icon列表 -->
{{>microSideb}}
<div class="container-fluid" id="container_fluid">
    <h3>页面管理 > 顶部广告管理</h3>
  <div class="main">
    <div class="tips">
      <span>*最多置放5个广告轮播，每次进入页面最先显示置顶的广告</span>
      <a href="/tinymall/newtopad" class="btn btn-outline-success btn-right">+ 新建广告</a>
    </div>
    <div class="setconfig">
      <table class="table table-striped table-hover table-bordered">
        <tbody>
          <!-- <tr>
            <td>1</td>
            <td>顶部广告</td>
            <td><img src="https://y.gtimg.cn/music/common/upload/t_focus_info_iphone/62863.jpg" /></td>
            <td>
              <div class="adtext">http://www.wiggle.cn/under-armour-heatgear-http://www.wiggl
                e.cn/under-armour-heatgear-http://www.wiggle.cn/under-armour-heatgear-</div>
            </td>
            <td><span class="marig"></span><a href="javascript:;" data-toggle="modal" data-target="#myModal">编辑</a><a href="javascript:;" >删除</a></td>
          </tr>
          <tr>
            <td>1</td>
            <td>顶部广告</td>
            <td><img src="https://y.gtimg.cn/music/common/upload/t_focus_info_iphone/62863.jpg" /></td>
            <td>
              <div class="adtext">http://www.wiggle.cn/under-armour-heatgear-http://www.wiggl
                e.cn/under-armour-heatgear-http://www.wiggle.cn/under-armour-heatgear-</div>
              </td>
            <td><a href="javascript:;" >置顶</a><a href="javascript:;" >编辑</a><a href="javascript:;" >删除</a></td>
          </tr>
          <tr>
            <td>1</td>
            <td>顶部广告</td>
            <td><img src="https://y.gtimg.cn/music/common/upload/t_focus_info_iphone/62863.jpg" /></td>
            <td><div class="adtext">https://y.gtimg.cn/music/common/upload/t_focus_info_iphone/62863.jpgrt如果和如果看见如果伤风败俗的密封罐而后看我今儿回家跟别人说你方便市民腹背受敌符合美国的是非观华盛顿警方告诉对方比较史蒂夫jpgrt如果和如果看见如果伤风败俗的密封罐而后看我今儿回家跟别人说你方便市民腹背受敌符合美国的是非观华盛顿警方告诉对方比较史蒂夫jpgrt如果和如果看见如果伤风败俗的密封罐而后看我今儿回家跟别人说你方便市民腹背受敌符合美国的是非观华盛顿警方告诉对方比较史蒂夫jpgrt如果和如果看见如果伤风败俗的密封罐而后看我今儿回家跟别人说你方便市民腹背受敌符合美国的是非观华盛顿警方告诉对方比较史蒂夫</div></td>
            <td><a href="javascript:;" >置顶</a><a href="javascript:;" >编辑</a><a href="javascript:;" >删除</a></td>
          </tr>
          <tr>
            <td>1</td>
            <td>顶部广告</td>
            <td><img src="https://y.gtimg.cn/music/common/upload/t_focus_info_iphone/62863.jpg" /></td>
            <td>
              <div class="adtext">http://www.wiggle.cn/under-armour-heatgear-http://www.wiggl
                e.cn/under-armour-heatgear-http://www.wiggle.cn/under-armour-heatgear-</div>
            </td>
            <td><a href="javascript:;" >置顶</a><a href="javascript:;" >编辑</a><a href="javascript:;" >删除</a></td>
          </tr>
          <tr>
            <td>1</td>
            <td>顶部广告</td>
            <td><img src="https://y.gtimg.cn/music/common/upload/t_focus_info_iphone/62863.jpg" /></td>
            <td>
              <div class="adtext">http://www.wiggle.cn/under-armour-heatgear-http://www.wiggl
                e.cn/under-armour-heatgear-http://www.wiggle.cn/under-armour-heatgear-</div>
            </td>
            <td><a href="javascript:;" >置顶</a><a href="javascript:;" >编辑</a><a href="javascript:;" >删除</a></td>
          </tr> -->
        </tbody>
      </table>
    </div>
    <div class="msg"></div>
    <!-- <div class="subBtn">
      <button type="button" id="dw_submit" class="btn btn-success btn-lg">保存并发布</button>
    </div> -->
  </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">添加广告信息</h4>
      </div>
      <div class="modal-body">
        <div class="form-group row">
          <label for="example-text-input" class="col-xs-2 col-form-label">名称</label>
          <div class="col-xs-10">
          <input class="form-control inpuw200 name" type="text" value="" placeholder="请输入名称">
          <span>20个汉字以内</span>
          </div>
        </div>
        <div class="form-group row">
          <label for="example-search-input" class="col-xs-2 col-form-label">链接</label>
          <div class="col-xs-10">
          <input class="form-control link" type="search" value="" placeholder="请输入链接地址">
          </div>
        </div>
        <div class="form-group row">
          <label for="example-search-input" class="col-xs-2 col-form-label"></label>
          <div class="col-xs-10">
            <p class="look">*链接为空时页面显示图文信息</p>
          </div>
        </div>
        <div class="form-group row">
          <label for="example-search-input" class="col-xs-2 col-form-label">图片</label>
          <div id="container">
            <a href="#" class="btn btn-secondary active" role="button" id="pickfiles" >
              <i class="glyphicon glyphicon-plus"></i>
              <span>选择上传图片</span>
            </a>
          </div>
        </div>
        <img src="" class="image" border="0"/>
        <div class="form-group row">
          <label for="example-text-input" class="col-xs-2 col-form-label">作者</label>
          <div class="col-xs-10">
          <input class="form-control inpuw200 author" type="text" value="" placeholder="请输入作者">
          </div>
        </div>
        <script type="text/plain" id="myEditor" style="width:400px;">
            <p>请输入文字</p>
        </script>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary save">保存</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="gridSystemModal" tabindex="-1" role="dialog" aria-labelledby="gridModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="gridModalLabel">删除</h4>
      </div>
      <div class="modal-body">
        <div style=""></div>
        确定要删除吗？
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary delOk">确定</button>
      </div>
    </div>
  </div>
</div>
<script>var conf={id:'{{id}}', position:'{{position}}'}</script>
<script src="{{page.staticBase}}/static/umeditor/qiniu.js"></script>
<script src="{{page.staticBase}}/static/umeditor/plupload/plupload.full.min.js"></script>
