
{{>microSideb}}
<div class="container-fluid" id="container_fluid">
    <h3>页面管理 > 底部广告管理</h3>
  <div class="main">
    <div class="setconfig">
      <div class="form-group row">
        <label for="example-text-input" class="col-xs-2 col-form-label">名称</label>
        <div class="col-xs-10">
        <input class="form-control inpuw200 name" type="text" value="" placeholder="请输入名称">
        <span>20个汉字以内</span>
        </div>
      </div>
      <div class="form-group row">
        <label for="example-search-input" class="col-xs-2 col-form-label">链接</label>
        <div class="col-xs-10">
        <input class="form-control link" type="search" value="" placeholder="请输入链接地址">
        </div>
      </div>
      <div class="form-group row">
        <label for="example-search-input" class="col-xs-2 col-form-label"></label>
        <p class="look">*链接为空时页面显示图文信息</p>
      </div>

      <div class="form-group row">
        <label for="example-search-input" class="col-xs-2 col-form-label">图片</label>
        <div id="container">
          <a href="#" class="btn btn-secondary active" role="button" id="pickfiles" >
            <i class="glyphicon glyphicon-plus"></i>
            <span>选择上传图片</span>
          </a>
        </div>
      </div>

      <div class="form-group row">
        <label for="example-search-input" class="col-xs-2 col-form-label"></label>
        <img src="" class="image" border="0"/>
      </div>
      <div class="form-group row">
        <label for="example-text-input" class="col-xs-2 col-form-label">作者</label>
        <div class="col-xs-10">
        <input class="form-control inpuw200 author" type="text" value="" placeholder="请输入作者">
        </div>
      </div>
      <script type="text/plain" id="myEditor" style="width:400px;">
      </script>
    </div>

    <div class="msg"></div>
    <div class="subBtn">
      <button type="button" id="dw_submit" class="btn btn-success btn-lg">保存并发布</button>
    </div>
  </div>
</div>
<script src="{{page.staticBase}}/static/umeditor/qiniu.js"></script>
<script src="{{page.staticBase}}/static/umeditor/plupload/plupload.full.min.js"></script>
<script>var conf={position:'{{position}}'}</script>
