<div class="sidebar">
  <ul class="nav nav-pills nav-stacked">
    <li class="nav-item">
      <a class="nav-link {{#isOrder}}act{{/isOrder}}"  href="/parking/order">订单管理</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{#isDiscount}}act{{/isDiscount}}"  href="/parking/discount">收费优惠标准</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{#isSetpark}}act{{/isSetpark}}"  href="/parking/setpark">停车缴费-设置</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{#isConfigurelist}}act{{/isConfigurelist}}"  href="/parking/configurelist">停车缴费-首页功能配置</a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link {{#isAssociationConfig}}act{{/isAssociationConfig}}"  href="/parking/associationConfig">车辆关联配置</a>
    </li> -->
  </ul>
</div>
