<div class="container-fluid">
{{>userSideb}}
<div class="contbox">
  <h4 class="configtitle">卡样级别配置</h4>
  <p class="addrank">添加卡样</p>
  <div class="tablebox">
    <table>
      <thead>
        <tr>
          <td>编码</td>
          <td>卡样名称</td>
          <td>操作</td>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>
</div>
<!-- 添加卡样  -->
<div class="rankbox">
  <div class="rancont">
    <div class="cancel">
      <b></b>
    </div>
    <div class="codebox">
      <label for="">卡样编码：</label><input type="text" name="" value="" placeholder="请输入卡样的编码" class="codeinput">
    </div>
    <div class="carname">
      <label for="">卡样名称：</label><input type="text" name="" value="" placeholder="请输入卡样的名称" class="nameinput">
    </div>
    <div class="submitbox">
      <a href="javascript:;" class="submit">提交</a>
    </div>
  </div>
</div>
<!--编辑-->
<div class="editbox">
  <div class="editcont">
    <div class="editcancel">
      <b></b>
    </div>
    <div class="editcodebox">
      <label for="">卡样编码：</label><input type="text" name="" value="" placeholder="请输入卡样的编码" class="editcode">
    </div>
    <div class="editcarname">
      <label for="">卡样名称：</label><input type="text" name="" value="" placeholder="请输入卡样的名称" class="editname">
    </div>
    <div class="editsubmit">
      <a href="javascript:;" class="editsubmit cancelbtn">取消</a>
      <a href="javascript:;" class="editsubmit submitbtn">提交</a>
    </div>
  </div>
</div>
<!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="exampleModalLabel">上传图片</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="form-control-label">code</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="form-control-label">卡类别名称</label>
            <input type="text" class="form-control">
          </div>
          <div class="uploader white">
            <input type="text" class="filename" readonly="">
            <input type="button" name="file" class="button" value="上传...">
            <input type="file" size="30">
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-danger btn-block">提交</button>
      </div>
    </div>
  </div>
</div> -->
