<!-- 会员权益 -->
{{>resourceSideb}}
<div class="container-fluid" id="container_fluid">
  <div class="tit">
    <span>请输入标题：</span>
    <input type="text" class="form-control title" id="recipient-name" style="width: 80%;display:inline-block;">
  </div>
  <!-- sidebar -->
  <script type="text/plain" id="myEditor" style="width:1000px;height:240px;"></script>
  <div class="subBtn">
    <button type="button" id="dw_submit" class="btn btn-primary">提交</button>
  </div>
</div>
<script src="{{page.staticBase}}/static/umeditor/qiniu.js"></script>
<script src="{{page.staticBase}}/static/umeditor/plupload/plupload.full.min.js"></script>
