<!-- 联系我们 -->
<!-- 联系我们 -->
<div class="container-fluid">
  {{>statisticsSideb}}

  <div class="main">
    <div class="heard">
      <span>查询时间：</span>
      <input class="gdate" name="creat" type="date" >~
      <input class="edate" name="creat" type="date" >
      <span>昵称：</span>
      <input class="nname" type="text" >
      <span>性别：</span>
      <select class="sex" name="" id="">
        <option value="1">男</option>
        <option value="2">女</option>
      </select>
      <span>地区：</span>
      <input class="region" type="text" >
      <!-- <button class="query btn">查询</button> -->
      <div style="text-align: center;margin-top:10px;">
        <button class="query btn">查询</button>
      </div>
    </div>

    <div class="content">
      <table class="table-bordered" width="100%" style="text-align:center;">
        <thead>
        <tr>
          <th>头像</th>
          <th>关注时间</th>
          <th>昵称</th>
          <th>性别</th>
          <th>地区</th>
          <th>openID</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
      </table>
    </div>
    <div style="text-align:center">
      <button class="dc">导出</button>
      <button class="previous_t">上一页</button>
      第<span class="num_t">1</span>页
      <button class="next_t">下一页</button>
      共<span class="num_allpage">1</span>页
      <input type="number" class="gopagenum" min="1"/>
      <button class="gopage" type="button" name="button">GO</button>
    </div>
  </div>
</div>
