<div class="container-fluid">
  {{>surveySide}}
  <div class="main">

    <div class="heard">
      <p>增加/修改分组</p>
    </div>
    <div class="tit">
      <span>请输入名称：</span>
      <input type="text" class="form-control title" id="title" style="width: 80%;display:inline-block;">
    </div>
    <div class="tit">
      <span>请输入备注：</span>
      <input type="text" class="form-control title" id="needsome" style="width: 80%;display:inline-block;">
    </div>
    <div class="subBtn">
      <button type="button" id="dw_submit" class="btn btn-primary">确定</button>
    </div>
  </div>
  </div>
</div>
<script>var conf={id:'{{id}}'};</script>
