<div class="sidebar">
  <ul class="nav nav-pills nav-stacked">
    <li class="nav-item">
      <a class="nav-link {{#isSurvey}}act{{/isSurvey}}"  href="/survey/survey">问卷管理</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{#isAddSurvey}}act{{/isAddSurvey}}"  href="/survey/surveyAdd">新增问卷</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{#isAd}}act{{/isAd}}"  href="/survey/surveyAd">添加问卷广告</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{#isDeclare}}act{{/isDeclare}}"  href="/survey/declare">免责声明</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{#isProperty}}act{{/isProperty}}"  href="/survey/property">属性配置</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{#isGroup}}act{{/isGroup}}"  href="/survey/group">分组管理</a>
    </li>
  </ul>
</div>
