<div class="container-fluid">
  {{>surveySide}}
  <div class="main">
    <div class="is-set">
      <span>是否过滤黑名单</span>
      <label class="radio-inline">
        <input type="radio" name="declareRadio" class="declareRadio" checked id="declareRadio1" value="1"> 是
      </label>
      <label class="radio-inline">
        <input type="radio" name="declareRadio" class="declareRadio" id="declareRadio2" value="2"> 否
      </label>
    </div>
    <div class="subBtn">
      <button type="button" id="dw_submit" class="btn btn-primary">确定</button>
    </div>
  </div>
  </div>
</div>
