<!-- 用户详情 -->
<div class="container-fluid">
  {{>userSideb}}
  <div class="main">
    <h3>会员详情</h3>
    <div class="addBtn">
      <a href="#" class="whole">全部会员(0 个会员)</a>
      <!-- <a href="#" class="whole">全部会员(33434 个会员)</a> -->
      <!-- btn-lg 按钮变大 -->
      <a href="/peoplelist/newmember" class="btn btn-primary btnright" role="button">＋新建会员</a>
    </div>
    <div class="search">
      <div class="regtime">
        注册时间：开始<input type="date" class="regTime" />
        结束<input type="date" class="endTime" />
      </div>
      <div class="grade">
        等级：<select class="gradeBox">
          <option selected="selected" value="">不限</option>
          <option value="1">普卡会员</option>
          <option value="2">银卡会员</option>
          <option value="3">金卡会员</option>
          <option value="4">黑卡会员</option>
          <option value="5">黑钻卡会员</option>
        </select>
      </div>
      <div class="state">
        状态：<select class="statebox">
          <option selected="selected" value="">不限</option>
          <option value="1">有效</option>
          <option value="0">冻结</option>
        </select>
      </div>
      <div class="birthday">
        <div class="birthbox">
          <span>生日：</span><span class="stime">开始</span><input type="date" class="birth_sttime" />
          <span>结束</span><input type="date" class="birth_endtime" />
        </div>
        <div class="search_input">
          <div class="input-group">
            <input type="text" class="form-control searchinput" placeholder="请输入用户名/会员卡号／用户电话号码">
            <span class="input-group-btn">
              <button class="btn btn-secondary search_btn" type="button">搜索</button>
            </span>
          </div>
        </div>
      </div>

    </div>
    <div class="list">
      <table class="table table-striped table-hover table-bordered">
        <thead>
          <tr>
            <th>用户</th>
            <th>会员卡号</th>
            <th>等级</th>
            <th>状态</th>
            <th>性别</th>
            <th>积分</th>
            <th>注册时间</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <!-- <tr>
            <td>
              <div class="user">
                <img class="face" src="http://wx.qlogo.cn/mmopen/Fl3CGjhLlRR46T3FXoxic8zk6lpibHibJUQR1CLqibScyBrkx5Yj03jNf5y2ldmLGKUElZp5rm7FFRXs1E0f0kblWf55lVy5xgls/0#" />
                <p class="username">name</p>
                <p class="remarks">备注</p>
              </div>
            </td>
            <td>
            金卡会员
            </td>
            <td>
              有效
            </td>
            <td>
              5000
            </td>
            <td>
              2016-08-25 10:45
            </td>
            <td>
              <a href="#">详情</a>
            </td>
          </tr> -->
        </tbody>
      </table>
    </div>
    <nav aria-label="Page navigation">
      <div class="exportBtn"><button type="button" class="btn btn-outline-secondary Export">下载数据</button></div>
      <ul class="pager">
        <input type="hidden" class="pagenum" value="1">
        <li class="total"></li>
        <li><a href="#" class="prev">上一页</a></li>
        <li><a href="#" class="currentpage"></a></li>
        <li><a href="#" class="next">下一页</a></li>
        <li><a href="javascript:;" class="">10条/页</a></li>
        <li>跳至第<input type="number" class="gopage" step="1" min="1">页</li>
        <li><a href="javascript:;" class="gopage_btn">GO</a></li>
      </ul>
    </nav>
  </div>
</div>
