<div class="sidebar">
  <ul class="nav nav-pills nav-stacked">
    <li class="nav-item">
      <a class="nav-link {{#isUserList}}act{{/isUserList}}" href="/peoplelist/userlist">会员管理</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{#isIntegrallog}}act{{/isIntegrallog}}" href="/peoplelist/integrallog">积分记录</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{#isrankconfig}}act{{/isrankconfig}}" href="/peoplelist/rankconfig">会员卡样级别配置</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{#isPresented}}act{{/isPresented}}" href="/peoplelist/presented">赠送积分配置</a>
    </li>
  </ul>
</div>
