<!-- 建筑物管理管理 -->
<div class="container-fluid">
  {{>wxCouponSideb}}
  <div class="main">
    <div class="header">
      <h3>编辑</h3>
    </div>
    <div class="subform">
      <ul>
        <li>
          <label for="" class="theme">建筑物名称：</label>
          <select class="buildSelect" name="" value="">
            <option value="0">请选择</option>
          </select>
          <span class="buildIdSign" style="color:red"></span>
        </li>
        <li><label for="" class="theme">活动ID：</label><input type="text" name="" value="" class="activeid"><span class="activeSign" style="color:red"></span></li>
        <li><label for="" class="theme"></label><a href="javascript:;" class="submitBtn">提交</a></li>
      </ul>
    </div>
  </div>
</div>
