<div class="sidebar">
  <ul class="nav nav-pills nav-stacked">
    <li class="nav-item">
      <a class="nav-link {{#iswxCoupon}}act{{/iswxCoupon}}" href="/wxCoupon/wxCoupon">活动配置</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{#iswxCouponAd}}act{{/iswxCouponAd}}" href="/wxCoupon/wxCouponAd">广告Banner</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{#iswxCouponPay}}act{{/iswxCouponPay}}" href="/wxCoupon/wxCouponPay">支付明细</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{#iswxCouponAttr}}act{{/iswxCouponAttr}}" href="/wxCoupon/wxCouponAttr">属性配置</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{#iswxCouponGift}}act{{/iswxCouponGift}}" href="/wxCoupon/wxCouponGift">优惠劵管理</a>
    </li>
  </ul>
</div>
