<div class="container-fluid">
    {{>wxCouponSideb}}
  <!-- sidebar -->
  <div class="main">
    <div id="container">
      <div class="header">
        <div class="title">
          <h3>属性配置</h3>
        </div>
      </div>
      <form>
        <div class="form-group row">
          <label for="inputName" class="col-sm-2 col-form-label">首页Title：</label>
          <div class="col-sm-4">
            <input type="email" class="form-control title-input" id="inputName" placeholder="请输入首页标题">
          </div>
        </div>
      </form>
      <div class="form-group row">
        <div class="col-sm-10 col-sm-offset-2">
          <button type="button" class="sub-btn btn btn-secondary">保存</button>
        </div>
      </div>
    </div>
  </div>
</div>
<script>var conf={id:'{{id}}'}</script>
