<!-- 活动配置 -->
<div class="container-fluid">
    {{>YadminSideb}}
  <!-- sidebar -->
  <div class="main">
    <h3>活动ID</h3>
     <div class="market">
       <form class="form-inline" id="form">
         <div class="form-group">
           <p class="form-control-static">营销平台活动ID</p>
         </div>
         <div class="form-group">
           <label for="inputPassword2" class="sr-only">ID</label>
           <input type="text" class="form-control activity" style="width: 500px;" placeholder="" value="">
         </div>
         <button type="button" class="btn btn-primary">确定</button>
       </form>
     </div>
     <div class="msg"></div>
  </div>
</div>
