<div class="sidebar">
  <ul class="nav nav-pills nav-stacked">
    <li class="nav-item">
      <a class="nav-link {{#isGift}}act{{/isGift}}"  href="/Yadmin">礼品管理</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{#isActivities}}act{{/isActivities}}"  href="/Yadmin/activities">活动ID</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{#isExchange}}act{{/isExchange}}"  href="/Yadmin/Yexchange">兑换记录</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{#isBanner}}act{{/isBanner}}"  href="/Yadmin/banner">Banner管理</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{#isAddBanner}}act{{/isAddBanner}}"  href="/Yadmin/addBanner">添加Banner</a>
    </li>
  </ul>
</div>
