<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<title>错误页面</title>
<link rel="stylesheet" href="__PUBLIC__/css/weui.css">
<link rel="stylesheet" href="__PUBLIC__/css/auth2c0a38.css">
</head>
    <body id="" class="zh_CN " ontouchstart="">
        
<div class="container custom" id="js_custom"></div>
<div class="container biz_list" id="js_biz_list"></div>
<div class="container confirm" id="js_confirm" style="display: none;"></div>
	<div class="container msg" id="js_msg">
		<div class="weui_msg msg">
	        <div class="weui_icon_area"><i class="weui_icon_warn weui_icon_msg"></i></div>
	        <div class="weui_text_area">
	            <h2 class="weui_msg_title">错误</h2>
	            <p class="weui_msg_desc">请求错误{$errorcode}</p>
	        </div>
	        <div class="button_wrp"></div>
	    </div>
	</div>
</body>
</html>