@import "../user/public";

.main{
  .header{
    margin-bottom: 1rem;
    border: 1px solid #eceeef;
    .title{
      margin: 0.75rem;
      line-height: 1.5;
      border-bottom: 1px solid #eceeef;
      h3{ border: 0;
        margin-bottom: 0.375rem;
        font-weight: bold;
        font-size: 1rem;
        line-height: 1.5;
      }
    }
    .wrapper{
      font-size: 1rem;
      label{
        padding: 0.375rem 0.75rem;
        line-height: 1.5;
        color: #55595c;
      }
    }
  }

  td{
    vertical-align: middle;
  }
}
