@import "../user/public";
.info{
  color: red;
  font-size: 10px;
  display: none;
}

.main{
  .header{
    margin-bottom: 1rem;
    border: 1px solid #eceeef;
    .title{
      position: relative;
      margin: 0.75rem;
      line-height: 1.5;
      border-bottom: 1px solid #eceeef;
      h3{ border: 0;
        margin-bottom: 0.375rem;
        font-weight: bold;
        font-size: 1rem;
        line-height: 1.5;
      }
    }
  }

  #colorSelect{
    height: 2rem;
    padding: 0;
  }
}
